[maxscale]
admin_secure_gui=false
admin_host=0.0.0.0
threads=1

[Server1]
type=server
address=mariadb
port=3306
protocol=mariadbbackend

[Monitor1]
type=monitor
module=mariadbmon
servers=Server1
user=root
password=password

[RCR-Master]
type=service
router=readconnroute
user=root
password=password
servers=Server1

[NoSQL-Listener]
type=listener
service=RCR-Master
protocol=nosqlprotocol
nosqlprotocol.user=root
nosqlprotocol.password=password
port=27017
